body {
    margin: 0;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-text);
    background-color: var(--color-body);
}
